
.cart {

  &Total {

    display: flex;

    &Amount {
      flex-grow: 1;
    }

    button {

      width: 15%;
      border: none;
      color: #fff;
      background-color: #1165B2;
      margin-top: 5rem;
      padding: 1rem;

    }


  }



}