
.header {

  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;


  &Title {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #151515;
    justify-self: flex-start;

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-weight: 400;
      font-size: 1.8rem;
      color: #7D7D7D;
      margin: 0 0 0 5rem;
    }

  }

  &Filler {
    flex-grow: 1;
  }

  &Cart, &WishList {
    position: relative;
    font-size: 3rem;
    margin: 3rem 2rem;
    justify-self: flex-end;

  }

  &Quantity {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
  }

  &Line {

    background-color: #7D7D7D;
    width: 100%;
    height: 0.3rem;
    margin: 2rem 0;

  }

  &Nav {

    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 2rem;

    a {
      margin: 0 2rem;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;

    }

  }


}